.fondo-titulo {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:antiquewhite;
    font-family: 'rammetto one', cursive;
    font-size: 1.5em;
    margin-bottom: 1em;
}
h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-family: 'Bitcount Prop Double Ink', cursive;
    font-size: 5em;
    font-weight: bolder;
    color: #9533e0;
}

h3 {
    font-family: 'rammetto one', cursive;
    font-size: 1.5em;
    font-weight: 900;
    color: #a10f3d ;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0.5em 0;
}