body {
  background-color: #ff8ea4;
  color: #0a0a0a;
  font-family: 'Bad Script', cursive;
  margin: 2em;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 1em;
}
header {
  background-image: url('Imagenes/twiceot9.jpeg');
  background-size: cover;
  background-position: center;
  height: 300px; 
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}


.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}


.title-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.navbar {
  background-color: #a10f3d;
  padding: 1em 0;
  justify-content: center;
  margin-bottom: 2em;
  position: sticky;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2em;
  padding: 0;
  margin: 0;
  align-items: center;
}
.navbar li
{
  position: relative;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Rammetto One', serif;
  font-size: 1.2em;
  padding: 0.5em 1em;
  transition: background-color 0.3s, color 0.3s;
}
h1 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 3em;
  font-weight: 900;
  color: #000000;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 1 em auto 2em auto;
}
h1 {
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

h2 {
  font-family: 'Bitcount Prop Double Ink', cursive;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
}

section {
  border: 1px solid #000;
  padding: 1.5em;
  margin-bottom: 2em;
  box-shadow: 4px 4px 0 #000;
  background: #fff;
}

a {
  text-decoration: underline;
  font-weight: 600;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: #ffa7ae; 
}

img {
  max-width: 100%;
  border: 1px solid #000;
  margin-bottom: 1em;
  display: block;
}

